.button_controller:hover{
    -fx-effect: dropshadow( three-pass-box , rgb(155, 155, 155) , 8, 0.0 , 0 , 0 );
}

.d_pad_buttons:hover{
    -fx-effect: innershadow( gaussian, rgb(155, 155, 155), 8, 0, 0, 0 );
}
